/*NAV BAR*/
.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
.sm-icons {
  flex-direction: row;
}
@media only screen and (max-width: 960px) {
  .sm-icons .nav-item {
    padding-right: 1em;
  }
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  /*background-image: url('./image/');*/

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Logo*/
.siteLogo{
  width: 70px;
  height: 40px;
}


.card{
  color: white;
  margin-left: 20em;
  width: 31.7rem;
}
/*PIZZA CARDS*/

.col-4 img{
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 2em;
}

/*CONTACT*/
.contact{
  background-image: url(../images/background/bg/6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55vh;
  color: white;
  font-family: cursive;
}
.contact h1{
  text-align: center;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: 'Gabriela', serif;
}
input[type=text],input[type=email],#comment{
  background: transparent;
  color: white;
  font-size: 20px;
  font-family: 'Copse', serif;
}

.form-control::-webkit-input-placeholder { 
  color: white; 
}
#comment{
  width: 60%;
  margin-left: 20%;
  margin-top: 1em;
  margin-bottom: 1em;
}
#nam{
  width: 50%;
  margin-left: 41%;
  margin-right: 25px;
  margin-bottom: 5px;

}
#em{
  width: 50%;
  margin-left: 9%;
  margin-bottom: 5px;
}
button{
  background: transparent!important;
  margin-left: 20%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

/*FOOTER*/
.footer{
  background-color: #000000;
   width: 100%;
   height: 50px;
   
   text-align: center;
  
   vertical-align: middle;
   overflow: hidden;
   }
   .footer h1{

      
       line-height: 51px;
       vertical-align: middle;
       font-size: medium;
       color: #FFFFFF !important;
       font-weight: bold !important;
   
   }

   .footer text{
       color: #582719;
   }
   .menuContainer{
    background-image: url(../images/background/bg/menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 89vh;
    
    font-family: cursive;
    margin-bottom: 2em!important;
    margin-top: 2em!important;

  }
  .menu h1{
    text-align: center;
    font-weight: 900;
  }
  .orderContainer{
    background-image: url(../images/background/bg/order.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55vh;
    color: white;
    font-family: cursive;
  }
  .order h1{
    text-align: center;
    color: black;
    font-family: cursive;
    font-weight: 900;
    margin-bottom: 0.5m;
  }
  .order label{
    font-weight: bold;

  }
  .order h2{
    font-weight: bold;
    color: black;
  }
  .order p{
    font-weight: bold;
    color: black;
  }
  .about{
    font-family: cursive;
    line-height: 35px;
    margin-top: 2em!important;
  }
  .about h1{
    text-align: center;
    font-weight: 900;
    margin-bottom: 2em!important;
   
  }
  .placeOrder {
    padding-top: 10px;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    padding-bottom: 10px;
}

.button {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    padding: 15px 32px;
    padding-right: 30px;
    margin-right: 1%;
    margin-bottom: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.btnContinue{
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
  padding: 15px 32px;
  padding-right: 30px;
  margin-right: 1%;
  margin-bottom: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.btnContinue :hover{
  background-color: rgba(255, 255, 255, 0.8);

}
.confirmOrder,
.getDelivery {
    display: none;
}

input[type=checkbox],
input[type=text],
input[type=tel],
input[type=number],
select {
    width: 100%;
    padding: 8px 12px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkbox {
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 10px;
}

.form {
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.order-total {
    display: none;
}

.confirm-order {
    border: 6px solid #948473;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    text-align: center;
}

.table-buttons {
    padding-top: 3%;
    padding-bottom: 3%;
}
