/*NAV BAR*/
.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
.sm-icons {
  flex-direction: row;
}
@media only screen and (max-width: 960px) {
  .sm-icons .nav-item {
    padding-right: 1em;
  }
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  /*background-image: url('./image/');*/

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Logo*/
.siteLogo{
  width: 70px;
  height: 40px;
}
.btn-rounded{
  border-radius: 10%;
}
.card-body img{
  height: 100%;
  width: 100%;
}
/*PIZZA CARDS*/

.col-4 img{
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 2em;
}

/*CONTACT*/
.contact{
  background-image: url(../images/background/bg/6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55vh;
  color: white;
  font-family: cursive;
}
.contact h1{
  text-align: center;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: 'Gabriela', serif;
}
input[type=text],input[type=email],#comment{
  background: transparent;
  color: white;
  font-size: 20px;
  font-family: 'Copse', serif;
}

.form-control::-webkit-input-placeholder { 
  color: white; 
}
#comment{
  width: 60%;
  margin-left: 20%;
  margin-top: 1em;
  margin-bottom: 1em;
}
#nam{
  width: 50%;
  margin-left: 41%;
  margin-right: 25px;
  margin-bottom: 5px;

}
#em{
  width: 50%;
  margin-left: 9%;
  margin-bottom: 5px;
}
button{
  background: transparent!important;
  margin-left: 20%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
